.auth-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.auth-left {
  width: 60%;
  background-color: #A85FD9;
}

.auth-right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  flex-direction: column;
}

.auth-form {
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  max-width: 400px;
  text-align: left;
}

.auth-form h2 {
  text-align: center;
  font-size: 24px;
  color: #A85FD9;
  margin-bottom: 20px;
  font-weight: 700;
}

.auth-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  margin-top: 5px;
}

.auth-form button {
  width: 100%;
  padding: 10px;
  background-color: #A85FD9;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 15px;
}

.auth-form button:hover {
  background-color: #8c4ca3;
}

.toggle-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #fff;
  background-color: #A85FD9;
  cursor: pointer;
  font-size: 14px;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 170px;
}

.toggle-button:hover {
  color: #8c4ca3;
}

.label-tittle{
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}